################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AGS324/CopilotIndices/17.14.794.21998/CodeChunks.db
/.vs/AGS324/CopilotIndices/17.14.794.21998/CodeChunks.db-shm
/.vs/AGS324/CopilotIndices/17.14.794.21998/CodeChunks.db-wal
/.vs/AGS324/CopilotIndices/17.14.794.21998/SemanticSymbols.db
/.vs/AGS324/CopilotIndices/17.14.794.21998/SemanticSymbols.db-shm
/.vs/AGS324/CopilotIndices/17.14.794.21998/SemanticSymbols.db-wal
/.vs/AGS324/FileContentIndex/187b9db0-4382-49f5-b889-cb02dbc3aa06.vsidx
/.vs/AGS324/FileContentIndex/22b81c95-19cf-457c-81af-a7394b2acd59.vsidx
/.vs/AGS324/FileContentIndex/814a64a0-5485-4e05-912f-7f90b83c4351.vsidx
/.vs/AGS324/FileContentIndex/9d97d54d-742b-4ed3-8163-90bdac47b2d0.vsidx
/.vs/AGS324/FileContentIndex/f1755a41-ee13-4ea2-9fa2-5fbbb4a89382.vsidx
/.vs/AGS324/v17/.wsuo
/.vs/AGS324/v17/DocumentLayout.backup.json
/.vs/AGS324/v17/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/dist/ags324-0.1.0-py3-none-any.whl
/dist/ags324-0.1.0.tar.gz
/src/AGS324.egg-info/dependency_links.txt
/src/AGS324.egg-info/PKG-INFO
/src/AGS324.egg-info/requires.txt
/src/AGS324.egg-info/SOURCES.txt
/src/AGS324.egg-info/top_level.txt
/.vs/AGS324/FileContentIndex/6011bf1d-60fd-4999-89de-9e24197bf574.vsidx
/.vs/AGS324/FileContentIndex/747ffe8e-5b99-4cac-9fa4-d623007eaeaa.vsidx
/.vs/AGS324/FileContentIndex/010be857-f4c5-45ae-a4c2-9bfc9eff0298.vsidx
