################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AGS324/CopilotIndices/17.14.794.21998/CodeChunks.db
/.vs/AGS324/CopilotIndices/17.14.794.21998/CodeChunks.db-shm
/.vs/AGS324/CopilotIndices/17.14.794.21998/CodeChunks.db-wal
/.vs/AGS324/CopilotIndices/17.14.794.21998/SemanticSymbols.db
/.vs/AGS324/CopilotIndices/17.14.794.21998/SemanticSymbols.db-shm
/.vs/AGS324/CopilotIndices/17.14.794.21998/SemanticSymbols.db-wal
/.vs/AGS324/FileContentIndex/22b81c95-19cf-457c-81af-a7394b2acd59.vsidx
/.vs/AGS324/FileContentIndex/60743b13-e660-4b97-9b02-5966e794e5f8.vsidx
/.vs/AGS324/FileContentIndex/814a64a0-5485-4e05-912f-7f90b83c4351.vsidx
/.vs/AGS324/FileContentIndex/9d97d54d-742b-4ed3-8163-90bdac47b2d0.vsidx
/.vs/AGS324/FileContentIndex/f1755a41-ee13-4ea2-9fa2-5fbbb4a89382.vsidx
/.vs/AGS324/v17/.wsuo
/.vs/AGS324/v17/DocumentLayout.backup.json
/.vs/AGS324/v17/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/dist/ags324-0.1.0-py3-none-any.whl
/dist/ags324-0.1.0.tar.gz
/.vs/AGS324/FileContentIndex/e1db2d10-20b4-4723-9e41-167cd16aad97.vsidx
/src/AGS324.egg-info/dependency_links.txt
/src/AGS324.egg-info/PKG-INFO
/src/AGS324.egg-info/requires.txt
/src/AGS324.egg-info/SOURCES.txt
/src/AGS324.egg-info/top_level.txt
/.vs/AGS324/FileContentIndex/a0032300-077d-4f61-90b7-5816a00c7685.vsidx
/.vs/AGS324/FileContentIndex/c7084c45-c394-46ab-a2b4-b32a43b7e255.vsidx
/.vs/AGS324/FileContentIndex/be90bd18-641d-469b-9d89-329782f01299.vsidx
/.vs/AGS324/FileContentIndex/306e3718-6e0b-4b96-ab6d-4c9cc218dbf6.vsidx
/.vs/AGS324/FileContentIndex/a4652a0f-a680-447c-9379-1f53471bf870.vsidx
/.vs/AGS324/FileContentIndex/ef02eb27-b8c3-468f-b29f-f755a49385ac.vsidx
/.vs/AGS324/FileContentIndex/5642627f-5758-48ef-8e69-966c86427261.vsidx
